.header {
    height: 50px;
    padding-inline: 2rem;

    background-color: #2b2b2b;
    color: white;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.header a {
    color: inherit;
    display: inline-flex;
    gap: 1rem;
    text-decoration: none;
}

.header a:visited {
    color: #ffffff6d;
}

.logo {
    width: 40px;
    filter: invert(1);
}